<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
           
            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" fxLayout="row"
                fxLayoutAlign="start end">
                <h4 class="title current-typo--h4 tb-flex--shrink-0">About Me.</h4>
                <div class="tb-width--12"></div>
                <div fxFlex="60" class="line tb-color-bg--black"></div>
                <div fxFlex class=""></div>
            </div>

            <div ngClass.gt-xs="tb-height--20" ngClass.xs="tb-height--12"></div>


            <div fxLayout="row" fxLayout.xs="column">
                <div [fxFlexOrder]='1' [fxFlexOrder.xs]="2" fxFlex fxFlex.xs="none" fxFlex.sm="70" fxLayout="column">
                    <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

                    <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}"
                        class="current-typo--body1-medium tb-color--black-54">I recently completed my Bachelors of Technology from Graphic Era Deemed to be University, Dehradun in computer Science Engineering. 
                        During my Btech, I have done 6 months in-person internship with Amazon as SDE from July to December 2023 and gained experience in various tech stacks and frameworks. I worked on android application development and web development as well.</p>
                        <div ngClass.gt-sm="tb-height--12" ngClass.sm="tb-height--8" ngClass.xs="tb-height--6"></div>

                    <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}"
                        class="current-typo--body1-medium tb-color--black-54">My objective is to make development as easy as possible with simple and beautiful designs and organised code
                        patterns.</p>

                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:300}}" fxLayout="row">
                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h4 class="title current-typo--h6">I am a fresher ready to hone and apply my skills as much as possible.</h4>

                        </div>

                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">10+</h2>
                            <h4 class="title current-typo--h6">Projects Completed</h4>

                        </div>

                    </div>

                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:400}}" fxLayout="row wrap"
                        fxLayoutGap="6">
                         <div class="skill tb-color-bg--black-6">
                            <h5 class="current-typo--h5">TypeScript</h5>
                        </div> 

                        <div class="skill" style="background-color: #FFD647;">
                            <h5 class="current-typo--h5 tb-color--black">React</h5>
                        </div>

                        <div class="skill" style="background-color: #F57FFF;">
                            <h5 class="current-typo--h5 tb-color--black">Docker</h5>
                        </div>

                        <div class="skill" style="background-color: #6F73C3;">
                            <h5 class="current-typo--h5 tb-color--white">Git</h5>
                        </div>
                    </div> 
                    <div class="tb-height--8"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:500}}" fxLayout="row wrap"
                        fxLayoutGap="6">
                        <div class="skill tb-color-bg--black-6">
                            <h5 class="current-typo--h5">Development</h5>
                        </div>

                        <div class="skill" style="background-color: #F44040;">
                            <h5 class="current-typo--h5 tb-color--white">Angular</h5>
                        </div>

                        <div class="skill" style="background-color: #68F17E;">
                            <h5 class="current-typo--h5 tb-color--black">Android</h5>
                        </div>

                        <div class="skill" style="background-color: #027DFD;">
                            <h5 class="current-typo--h5 tb-color--white">MySQL</h5>
                        </div>
                    </div>




                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:600}}" fxLayout="row"
                        fxLayoutAlign="start center" fxLayoutGap="32">
                        <a class="btn-area-cv" href="https://acrobat.adobe.com/id/urn:aaid:sc:AP:051b3229-edf4-4505-9267-b760585b5855" target="_blank">
                            <button mat-raised-button color="primary"><span class="current-typo--button-medium">Download
                                    CV.</span></button>

                            </a>

                    </div>

                </div>
                <div fxFlex.xs="none" fxFlex [fxFlexOrder.xs]="1" [fxFlexOrder]=' 2' class="image-container"
                    fxLayout="column" fxLayoutAlign="center stretch">
                    <div [@transitionImageScale]="{value:_mTriggerAnim, params: {animDelay: 800}}"
                        class="tb-text--align-center image-area" #imageAreaView>
                        <img class="image tb-position--relative" src="assets/img/avatar/pic_avatar.jpeg" />
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>